<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kirjan lisääminen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Lisää kirja</h1>
    <div>
        <form action="#" method="post" th:object="${Book}" th:action="@{/save}">

            <input type="hidden" th:field="*{id}" />
            <input type="text" id="btitle" th:field="*{title}" />
            <input type="text" id="bauthor" th:field="*{author}" />
            <input type="text" id="byear" th:field="*{publicationYear}" />
            <input type="text" id="bisbn" th:field="*{isbn}" />
            <input type="text" id="bprice" th:field="*{price}" />

            <input type="submit" value="Save"></input>
        </form>
    </div>
</body>

</html>