<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Kirjalista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
    </form>


    <h1>Listan kirjoista näet täällä</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication year</th>
                <th>Isbn</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">
                <td th:text="${book.author}">
                <td th:text="${book.publicationYear}">
                <td th:text="${book.isbn}">
                <td th:text="${book.price}">
                <td th:text="${book.category.name}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Poista</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-info">Muokkaa</a></td>
            </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ADMIN')" href="/add" class="btn btn-success">Lisää kirja</a>
    <br>
    <br>
    <a th:href="@{/categorylist}"><button>Lista kategorioista</button>  </a>

</body>

</html>