<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kirjalista</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Listan kirjoista näet täällä</h1>
	<table>
        <tbody>
            <tr th:each = "book : ${books}">
                <td th:text = "${book.title}">
                <td th:text = "${book.author}">
                <td th:text = "${book.publicationYear}">
                <td th:text = "${book.isbn}">
                <td th:text = "${book.price}">
                <td><a th:href="@{/delete/{id}(id=${book.id})}">Poista</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add" class="btn btn-primary">Lisää kirja</a>
	
</body>
</html>