<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Kategoriat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
    </form>

    <h1>Listan kategorioista näet täällä</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryid}">
                <td th:text="${category.name}">

            </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ADMIN')" href="/addcategory" class="btn btn-success">Lisää kategoria</a>
    <br>
    <br>
    <a th:href="@{/booklist}"><button>Kirjalista</button>  </a>
</body>

</html>